{% extends 'app/base.html' %}
{% load static %}


{% block content %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'forum/styles/post_list.css' %}">
  <link rel="stylesheet" href="{% static 'forum/styles/new_post_button.css' %}">
{% endblock %}

  <title>{% block title %}Channels | Leaderboard{% endblock %}</title>

  <a href="{% url 'forum:post_create' %}" class="new-post-btn">
    <svg viewBox="0 0 24 24"><path d="M12 5v14m7-7H5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none"/></svg>
    New Post
  </a>
  <div class="forum-grid">
  {% for post in posts %}
    <div class="forum-card">
      <div class="forum-card-body">
        <h3 class="form-card-title">{{ post.title }}</h3>
        <h5 class="forum-card-user">
          {% if request.user == post.author %}
              {{ post.author.username }}
          {% else %}
              <a href="{% url 'users:profile' username=post.author.username %}">
                  {{ post.author.username }}
              </a>
          {% endif %}
        </h5>
        <a href="{% url 'forum:post_detail' post.id %}?next={{ request.path }}">View</a>
      </div>
      <div class="forum-image-container">
        {% if post.image %}
        <img src="{{ post.image.url }}" alt="Post image" class="forum-img">
        {% endif %}
      </div>
    </div>
  {% empty %}
    <p>No posts yet.</p>
  {% endfor %}
  </div>
{% endblock %}
