{% extends 'app/base.html' %}
{% load static %}
{% load display_name %}


{% block styles %}
  <link rel="stylesheet" href="{% static 'forum/styles/post_detail.css' %}">
  <link rel="stylesheet" href="{% static 'forum/styles/post_detail_actions.css' %}">
{% endblock %}

{% block title %}
  Channels | Post Details
{% endblock %}

{% block content %}
  {% url 'forum:post_list' as default_url %}

  <div class="container">
    <div class="card">
        <div class="card-body">
        <h3 class="card-title">{{ post.title }}</h3>
        <h5 class="card-user">
            {% if request.user == post.author %}
              {{ post.author|get_display_name }}
            {% else %}
              <a href="{% url 'users:profile' username=post.author.username %}">
                {{ post.author|get_display_name }}
              </a>
            {% endif %}
        </h5>
        <p class="card-timestamp">Posted {{ post.created_at }}</p>
        <p class="card-text">{{ post.caption }}</p>
      </div>
      {% if post.image %}
        <img src="{{ post.image.url }}" class="post-detail-img" alt="Post image">
      {% endif %}

      <div style="display: flex; gap: 12px; margin-bottom: 1rem; align-items: center;">
        <a href="{{ request.GET.next|default:default_url }}" class="btn btn-secondary post-action-btn">Back</a>
          {% if user.is_authenticated and user == post.author %}
            <form action="{% url 'forum:post_delete' post.pk %}" method="post" style="display:inline; margin: 0;">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger post-action-btn" onclick="return confirm('Are you sure you want to delete this post?');">Delete Post</button>
            </form>
          {% endif %}
      </div>
    
    </div>

    <div class="comment-container">
      <h2>Comments</h2>

      {% if user.is_authenticated %}
        <form class="comment-input" method="post">
            {% csrf_token %}
            {{ form.content }}
            <input type="hidden" name="parent_id" value="">
            <button class="btn-add-comment" type="submit">Add Comment</button>
        </form>
      {% else %}
          <p><a href="{% url 'login' %}">Log in</a> to add a comment.</p>
      {% endif %}

      {% for comment in comments %}
        {% include 'forum/comment.html' with comment=comment %}
      {% empty %}
        <p class="text-no-comments">No comments yet. Be the first to comment!</p>
      {% endfor %}
    </div>
  </div>

  <script>
    function toggleReplyForm(commentId) {
      const formDiv = document.getElementById('reply-form-' + commentId);
      if (formDiv.style.display === 'none') {
        formDiv.style.display = 'block';
      } else {
        formDiv.style.display = 'none';
      }
    }
  </script>
{% endblock %}
