:root {
  --bg: #1A1A1D;
  --bg-2: #252529;
  --line: #42434a;
  --button: #23a55a;
  --hover: #252529;
  --text: #b0b3c1;
  --accent: #fff;
}

main {
  all: unset;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
}

.dashboard-widget-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 2rem;

}

.dashboard-widget {
  flex: 1 1 clamp(220px, 25vw, 400px);
  display: flex;
  flex-direction: column;
  border: 2px solid var(--line);
  border-radius: 12px;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.dashboard-widget:hover {
  transform: scale(1.05);
  background: white;
  color: var(--bg);

  .img-container {
    background: var(--bg);
  }
}

.img-container {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--line);
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 1rem;

}

.dashboard-widget img {
  width: 25px;
  height: auto;
}

.dashboard-widget span {
  font-size: 1.2rem;
  font-weight: 600;
}

.leaderboard-container {
  display: flex;
  flex-direction: column;
}

.leaderboard-title {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 1rem;
}

.leaderboard-title img {
  width: 25px;
  height: auto;

}

.leaderboard-title span {
  font-size: 1rem;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--line);
}

/* each row */
.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1.2fr;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid var(--line);
  font-weight: 500;
}

.row.header {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.row:last-child {
  border-bottom: none;
}

/* alignment */
.rank {
  text-align: left;
}

.points {
  text-align: left;
}

.user {
  text-align: left;
}