:root {
  --bg: #1A1A1D;
  --bg-2: #252529;
  --line: #42434a;
  --button: #23a55a;
  --hover: #3E4451;
  --text: #b0b3c1;
  --accent: #fff;
}

.pfp-container {
  position: relative;
  width: 250px;
  height: 250px;
  display: inline-block;
}

.pfp-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 0.3s ease;
  display: block;
}

.edit-pfp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  display: none;
  pointer-events: none;
}

.pfp-container:hover .pfp-image {
  opacity: 0.4;
  cursor: pointer;
}

.pfp-container:hover .edit-pfp {
  display: block;
}

.profile {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.profile .user-info {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.profile .user-info h1 {
  margin-bottom: 0.5rem;

}

.user-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 3rem;
  margin-bottom: 2rem;
}

.profile-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 3rem;
  gap: 1rem;
}

.edit-btn {
  background-color: var(--bg-2);
  border: 2px solid var(--text);
}

.interest-boxes, 
.bio {
  margin-bottom: 1rem;
}

.interest-boxes h2, 
.bio h2{
  font-weight: 600;
  font-size: 16px;
}

.interest-boxes h2{
  margin-bottom: 1rem;
}

.interest-boxes .tag {
  border: 2px solid var(--text);
  border-radius: 20px;
  padding: 4px 16px;
  font-size: 12px;
  font-weight: 600;
  margin-right: 0.5rem;
}
