.pfp-container {
  position: relative;
  width: 250px;
  height: 250px;
  display: inline-block;
}

.pfp-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 0.3s ease;
  display: block;
}

.edit-pfp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  display: none;
  pointer-events: none;
}

.pfp-container:hover .pfp-image {
  opacity: 0.4;
  cursor: pointer;
}

.pfp-container:hover .edit-pfp {
  display: block;
}

.profile {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile .user-info {
  display: flex;
  flex-direction: column;
}