{% extends 'app/base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Login{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'users/styles/login.css' %}">
{% endblock %}

{% block content %}
<section id="login">
  <div class="login-container">
    <h2>Login</h2>

    <form method="post" class="login-form">
      {% csrf_token %}
      <div class="username-input">
        <label for="id_username">Username</label>
        <input type="text" name="username" id="id_username" required>
      </div>
      <div class="password-input">
        <label for="id_password">Password</label>
        <input type="password" name="password" id="id_password" required>
      </div>
      <button id="login-button-form" class="button" type="submit">Log In</button>
    </form>

    <small>
      Don’t have an account? <strong><a class="register-link" href="{% url 'register' %}">Sign
          Up</a></strong>
    </small>

    <div class="oauth">
      <small>
        <span>Google login?</span>
        {% url 'post_login_redirect' as next_url %}
        <a href="{% provider_login_url 'google' process='login' next=next_url %}">
          Sign in with Google
        </a>
      </small>
    </div>

  </div>
</section>
{% endblock %}