{% extends 'app/base.html' %}
{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">

{% block styles %}
<link rel="stylesheet" href="{% static 'users/styles/logout.css' %}">
{% endblock %}

{% block title %}Logout{% endblock %}

{% block content %}

  <div class="logout-container">
    <h1 class="logout-message">You have successfully logged out.</h1>
    <div>
      <a class="button" id="login-button" href="{% url 'login' %}"> {# or 'account_login' (allauth) #}
          <span>Login</span>
        </a>
    </div>
  </div>

{% endblock %}
