:root {
  --bg: #1A1A1D;
  --bg-2: #252529;
  --line: #42434a;
  --button: #23a55a;
  --hover: #3E4451;
  --text: #b0b3c1;
  --accent: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: clamp(14px, 1vw, 16px);
  line-height: 1.5rem;
}


body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--bg-2);
  color: var(--text);
  padding: 150px;
  transition: padding-left 280ms cubic-bezier(.22, .61, .36, 1);
}

body.active {
  padding-left: 300px;
}

main {
  background-color: var(--bg-2);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {

  body,
  body.active {
    padding: 150px 50px;
  }
}