.post-detail-img {
    max-width: 100%;
    max-height: 400px;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto 16px auto;
    border-radius: 8px;
    padding-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
}

.card-body {
    max-width: 700px;
}

.card-title {
    font-size: 40px;
    padding-bottom: 20px;
}

.card-user {
    font-size: 20px;
    padding-bottom: 5px;
}

.card-card-timestamp {
    padding-bottom: 20px;
}

.card-text {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-wrap: anywhere;
}

.comment-input {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 15px;
}

.comment-input-text {
    display: flex;
    align-items: center;
    border-radius: 18px;
    font-size: 0.8rem;
    padding-left: 10px;
    padding-top: 6px;
    width: 60%;
}

.text-no-comments {
    padding-top: 30px;
}
