{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}CS3240 Project{% endblock %}</title>

  <!--Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <!--Styles-->
  <link rel="stylesheet" href="{% static 'app/styles/general.css' %}">
  <link rel="stylesheet" href="{% static 'app/styles/home.css' %}">

  <!--Block for Styles-->
  {% block styles %}
  {% endblock %}

</head>

<body>
  <!--header-->
  <header class="header">
    <a href="{% url 'app-home' %}" class="logo">cs3240 Project</a>

    <svg id="menu-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
      <path
        d="M96 160C96 142.3 110.3 128 128 128L512 128C529.7 128 544 142.3 544 160C544 177.7 529.7 192 512 192L128 192C110.3 192 96 177.7 96 160zM96 320C96 302.3 110.3 288 128 288L512 288C529.7 288 544 302.3 544 320C544 337.7 529.7 352 512 352L128 352C110.3 352 96 337.7 96 320zM544 480C544 497.7 529.7 512 512 512L128 512C110.3 512 96 497.7 96 480C96 462.3 110.3 448 128 448L512 448C529.7 448 544 462.3 544 480z" />
    </svg>

    <nav class="navbar">
      <a href="{% url 'app-home' %}" class="active">Home</a>
      {% if user.is_authenticated %}
      <a href="{% url 'profile' %}">Profile</a>
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="button" id="logout-button" type="submit">Logout</button>
      </form>
      {% else %}
      <a href="{% url 'login' %}" id="login-button">Login</a>
      {% endif %}
    </nav>
  </header>

  <!-- content from child templates -->
  <main>
    {% block content %}
    {% endblock %}
  </main>

  <script src="{% static 'app/scripts/header.js' %}"></script>
</body>

</html>