<!--Load Styles-->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>

  <!--Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <!--Styles-->
  <!-- <link rel="stylesheet" href="../../static/app/home.css"> -->
  <link rel="stylesheet" href="{% static 'app/styles/home.css' %}">
  <link rel="stylesheet" href="{% static 'app/styles/general.css' %}">

</head>

<body>
  <!--header-->
  <header class="header">
    <!--logo-->
    <a href="#home" class="logo">
      cs3240 Project
    </a>

    <!--menu icon-->
    <svg id="menu-icon" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
      <path
        d="M96 160C96 142.3 110.3 128 128 128L512 128C529.7 128 544 142.3 544 160C544 177.7 529.7 192 512 192L128 192C110.3 192 96 177.7 96 160zM96 320C96 302.3 110.3 288 128 288L512 288C529.7 288 544 302.3 544 320C544 337.7 529.7 352 512 352L128 352C110.3 352 96 337.7 96 320zM544 480C544 497.7 529.7 512 512 512L128 512C110.3 512 96 497.7 96 480C96 462.3 110.3 448 128 448L512 448C529.7 448 544 462.3 544 480z" />
    </svg>

    <!--navbar-->
    <nav class="navbar">
      <a href="{% url 'app-home' %}" class="active">Home</a>

      {% if user.is_authenticated %}
      <a href="{% url 'profile' %}">Profile</a>
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="button" id="logout-button" type="submit">Logout</button>
      </form>
      {% else %}
      <a href="{% url 'login' %}" id="login-button">Login</a>
      {% endif %}
    </nav>
  </header>

  <main>
    <section id="home">
      <!--Flash Message-->
      {% if messages %}
      <div class="messages">
        {% for message in messages %}
        <div class="alert {{ message.tags }}">
          {{ message }}
        </div>
        {% endfor %}
      </div>
      {% endif %}
      <h1>This the Dashboard</h1>
      <p>Nothing to see here yet</p>
    </section>
  </main>

  <script src="{% static 'app/scripts/header.js' %}"></script>
</body>

</html>