:root {
  --bg: #1A1A1D;
  --bg-2: #252529;
  --line: #42434a;
  --button: #23a55a;
  --hover: #3E4451;
  --text: #b0b3c1;
  --accent: #fff;
}

.chat-box {
  padding: 25px;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.box-chat {
  margin-top: auto;
  border: 1px solid var(--line);
  border-radius: 10px;
  padding: 10px 12px;
  display: flex;
  gap: 8px;
}

.box-chat input {
  flex: 1;
  width: clamp(300px, 1vh, 800px);
  color: #fff;
  background-color: var(--bg-2);
  padding: 8px 12px;
  border: 1px solid var(--line);
  border-radius: 18px;
}

.box-chat button {
  padding: 8px 14px;
  border: none;
  border-radius: 18px;
  background: #007bff;
  color: #fff;
  cursor: pointer;
}