:root {
  --bg: #1A1A1D;
  --bg-2: #252529;
  --line: #42434a;
  --button: #23a55a;
  --hover: #3E4451;
  --text: #b0b3c1;
  --accent: #fff;
}

.search-friend-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.search-friend-bar {
  background: none;
  color: var(--line);
  border: 1px solid var(--line);
  font-family: 'Poppins';
  border-radius: 20px;
  padding: .5rem 1rem;
  width: clamp(100px, 50vw, 300px);
}

.search-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.user-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.add-friend-button-search {
  background: var(--text);
  font-size: 12px;
  padding: 6px 16px;
}