{% extends 'app/base.html' %}
{% load static %}

{% block title %}Dashboard | CS3240 Project{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'social/styles/social.css' %}">
<link rel="stylesheet" href="{% static 'social/styles/chat.css' %}">
{% endblock %}

{% block content %}
<section class="chat-layout">
  <div id="message-container">
    <a href="{% url 'social:friends' %}">
      <div class="friends-link">
        <img src="{% static 'social/icons/social.svg' %}" alt="social icon">
        <span>Friends</span>
      </div>
    </a>

    <hr class="separator">

    <div class="message-header">
      <img src="{% static 'social/icons/message.svg' %}" alt="message icon">
      <span>Messages</span>
    </div>

    <div id="chats">
      <ul>
        {% for c in convos %}
        <li class="{% if convo and c.id == convo.id %}active{% endif %}">
          <a href="{% url 'social:chat_detail' c.id %}">
            {{ c.display }}
          </a>
        </li>
        {% empty %}
        <li>No conversations yet.</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  {% block chat_main %}{% endblock %}
</section>
{% endblock %}