{% extends 'app/base.html' %}
{% load static %}

{% block title %}
 Base Chat
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'social/styles/social.css' %}">
  <link rel="stylesheet" href="{% static 'social/styles/chat.css' %}">

  {% block extra_styles %}
  {% endblock %}
{% endblock %}


{% block content %}
<section class="chat-layout">
  <!--Social Sidebar-->
  <div id="message-container">
    <a href="{% url 'social:friends' %}">
      <div class="friends-link">
        <img src="{% static 'social/icons/social.svg' %}" alt="social icon">
        <span>Friends</span>
      </div>
    </a>
    <a href="{% url 'social:find_cios' %}">
      <div class="friends-link">
        <img src="{% static 'social/icons/user.svg' %}" alt="find cios icon">
        <span>Find CIOs</span>
      </div>
    </a>
    <a href="{% url 'social:incoming_requests' %}">
      <div class="friends-link">
        <img src="{% static 'social/icons/plus.svg' %}" alt="social icon">
        <span>Request</span>
      </div>
    </a>
    <hr class="separator">

    <div class="message-header">
      <img src="{% static 'social/icons/message.svg' %}" alt="message icon">
      <span>Messages</span>
    </div>

   <div class="create gc">
     <a href="{% url 'social:create_group_chat' %}">
      <button class="button">+ New Group Chat</button>
     </a>
   </div>

    <!--Chats-->
    <div id="chats">
      <ul>
        {% for c in convos %}
        <li class="{% if convo and c.id == convo.id %}active{% endif %}">
          <a href="{% url 'social:chat_detail' c.id %}">
            {% if c.is_group %}
              <span class="chat-name group">{{ c.display }}</span>
            {% else %}
              <span class="chat-name">{{ c.display }}</span>
            {% endif %}
          </a>
        </li>
        {% empty %}
        <li>No conversations yet.</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!--Content-->
  {% block chat_main %}
  {% endblock %}
</section>
{% endblock %}
