{% extends 'app/base.html' %}
{% load static %}
{% load display_name %}

{% block title %}
  Search Friend
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'social/styles/search-friend.css' %}">
{% endblock %}

{% block content %}
<div class="search-container">
  <!-- Request: /social/user_search?q=input-value -->
  <form method="get" class="search-friend-form">
    <input class="search-friend-bar" name="q" value="{{ q }}" placeholder="Search users…" />
    <button class="button search-button">Search</button>
  </form>

  <!-- User list -->
  <ul class="user-list">
    {% for u in results %}
    <li>
      <span>{{ u|get_display_name }}</span>
      <!-- Request: /social/request/<int:user_id>/ -->
      <form method="post" action="{% url 'social:send_request' u.id %}">{% csrf_token %}
        <button class="button add-friend-button-search">Add Friend</button>
      </form>
    </li>
    {% empty %}
    {% if q %}
      <li>No results</li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
{% endblock %}